#contactFormCountContainer{
    background-color: #006b6e;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
}

#smallBorder{
    width: 50px;
    border-top: 3px solid #01a4b7;
    margin: 25px 0px;
}

h4, p{
    color: #fff;
}

.form-check-label{
    color:#fff;
}

.requestQuoteContainer{
    border-right: 1px solid #ccc;
    padding-right: 25px;
}

.choiceOfCustomerDd{
    margin-top: 15px;
    padding-bottom: 15px;
    /* border-bottom: 1px solid #ccc; */
}

.form-field{
    margin-top: 15px;
}

.form-select{
    padding-top: 4px;
    padding-bottom: 3.28px;
}

.marginBottom-0{
    margin-bottom: 0px;
}

#personalContactContainer{
    padding-left: 25px;
    padding-top: 50px;
}

.btn{
    width: 100%;
}

#personalQuoteForm{
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.slogan{
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.marginLeft-15{
    margin-left: 15px;
}

.border{
    border-bottom: 1px solid #ccc;
}

.from-border{
    border-bottom: 1px solid #ccc;
    /* padding: 0 15px; */
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
}

.margin-0{
    margin: 0px;
}

@media (max-width: 992px) {   
    .requestQuoteContainer{
        border-bottom: 1px solid #ccc;
        border-right: 0px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        padding-right: 12px;
    }

    #personalContactContainer{
        padding-left: 12px;
        padding-top: 12px;
    }
}