<div id="intro-section" class="p-5 bg-image">
    <div class="container">
      <div class="row text-left">
        <div class="col-lg-6 col-md-12">
          <h2>Headache on complex customs matters for your business?</h2>
          <div id="smallBorder"></div>
          <p class="font-14">
            Customs Support is your neutral full-service customs broker for complex customs matters with 20+ years of expertise in Europe and over 400 customs specialists who are happy to take the load off your mind!
          </p>
        </div>
        <div class="col-lg-6 col-md-12 right-section">
          <p class="font-bold"><i class="fa-solid fa-check"></i> Fast and accurate customs clearance delivery</p>
          <p class="font-bold"><i class="fa-solid fa-check"></i> EU-wide customs coverage</p>
          <p class="font-bold"><i class="fa-solid fa-check"></i> Online and real-time control of customs processes</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-12">
          <button type="button" class="btn btn-primary">Get Your Quote Now</button>
        </div>
      </div>
    </div>

  </div>
