<div id="background-overlay" class="bg-image">
  <div class="containerLeft"></div>
  <div class="containerRight"></div>
</div>

<div id="customs-clearance-section" class="p-5">
  <div class="container">
    <div class="row text-left">
      <div class="col-lg-6 col-md-12">
        <h2>Customs clearance after Brexit</h2>
        <div id="smallBorder"></div>
        <p class="font-14">
          Since 4 years we are successfully helping our customers to prepare their business for Brexit. Our Bexit customs agents are always up-to-date with the latest customs regulations after Brexit and look forward to support you with Brexit customs procedures.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <button type="button" class="btn btn-primary">Brexit and customs: get ready!</button>
      </div>
    </div>
  </div>

</div>

