<div id="customeAgentCountContainer">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h4>The leading customs agent in Europe and UK</h4>
        <div id="smallBorder"></div>
      </div>
    </div>

    <div class="row">
      <ng-container *ngFor="let customAgentsCount of customAgentsCountArray">
        <div class="col-sm-3 col-12 tile">
          <tile-widget [data]="customAgentsCount"></tile-widget>
        </div>
        
      </ng-container>     
    </div>

    <div class="row buttonContainer text-center">
      <div class="col-12">
        <button type="button" class="btn btn-primary">Get in touch</button>
      </div>
    </div>

  </div>
</div>