<div id="aviation-details-container">

  <div class="row margin-0">
    <div class="col-lg-6 col-md-12 padding-0">
      <img src="../../assets/images/girl-with-plane.png"/>
    </div>
    <div class="col-lg-6 col-md-12 padding-0 topRightText">
      <h4>Lorem ipsum dolor sit amet</h4>
      <div id="smallBorder"></div>
      <p class="font-14 font-regular">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
      </p>
    </div>
  </div>
  <div class="row margin-0">
    <div class="col-lg-6 col-md-12 padding-0 bottomContainerMobile d-sm-block d-md-block d-lg-none">
      <img src="../../assets/images/girl-with-plane.png"/>
    </div>
    <div class="col-lg-6 col-md-12 padding-0 bottomLeftText">
      <h4>Lorem ipsum dolor sit amet</h4>
      <div id="smallBorder"></div>
      <p class="font-14 font-regular">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
      </p>
      <button type="button" class="btn btn-primary">More Information</button>
    </div>
    <div class="col-sm-6 col-12 padding-0 d-none d-sm-none d-md-none d-lg-block">
      <img src="../../assets/images/girl-with-plane.png"/>
    </div>
  </div>

</div>
