<div id="whoWeWorkWithContainer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 left-section text-center">
        <img src="../../assets/images/who-we-work-with.png" />
      </div>
      <div class="col-lg-6 col-md-12 right-section">
        <h4>Who we work with</h4>
        <div id="smallBorder"></div>
        <p class="font-14 font-regular">
          We are the trusted partner for customs matters of more than 7000 companies across Europe. Since 20 years we successfully operate with customers from small and large good owners to freight forwarders and digital platforms across various industries.
        </p>
      </div>
    </div>
  </div>
</div>
