<div id="footerContainer">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <ul>
          <li>Imprint</li>
          <li>Data Security</li>
          <li>Conditions</li>
          <li>Cookies</li>
          <li>Customs support</li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 copyright">
        <span class="font-regular font-13">
          © 2021 Customs Support Group. All rights reserved.
        </span>
      </div>
    </div>  
  </div>
</div>

