#footerContainer{
    padding: 20px 0px;
}

ul{
    margin: 0px;
    padding: 0px;
}

ul li{
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
}

.copyright{
    text-align: right;
}

@media (max-width: 992px) {   
    ul li{
        width: 98%;
        border-bottom: 1px solid #ccc;
        text-align: left;
        padding: 10px;
    }

    ul li:last-child{
        border-bottom: 0px;
    }

    .copyright{
        text-align: left;
        margin-top: 25px;
    }
}